/* .signup-form:first-child {
    margin-top:;
} */

body {
    background-color: #f4f4f4;
}

section {
    margin-top: 50px;
}

form {
    background: white;
    padding: 30px;
    border-radius: 10px;
}

.btn-primary {
    width: 100%;
}

h1 {
    text-align: center;
    font-weight: bold;
}
